<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--
        Copyright 2019 Benjamin Blais
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
    -->
    <title>{{title}} - Shadowlance Campain Setting</title>
    <link rel="stylesheet" type="text/css" href="/lib/css/main.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/fonts.css">
    {%- for style in styles -%}
    <link rel="stylesheet" type="text/css" href="/lib/css/{{style}}">
    {%- endfor -%}
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <!-- TODO: Add Content -->
        </nav>
        <main class="main">
            {{content | safe}}
        </main>
        <footer class="footer">
            <p>&copy; {{ globals.now | date("YYYY") }} Benjamin Blais.</p>
            <p>This work is licensed under a 
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License
                </a>.
            </p>
            <p class="badge"><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" 
                    style="border-width:0" 
                    src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                </p>
            </a>
        </footer>
    </div>
</body>