<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--
        Copyright 2019 Benjamin Blais
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
    -->
    <title>{{title}} - Shadowlance Campain Setting</title>
</head>
<body>
    {{content | safe}}
</body>