---
title: People
layout: main.njk
styles:
    - letter.css
    - largeLetter.css
tags: topic
---

<h1>The Races of Shadowlance</h1>

<p>The land of Shadowlance has a great many peoples many different races and cultures. From the the diverse human cities and towns of the Broken Kingdom, to dragonborn city of Jahir any person, of any background imaginable can be found here.</p>

<ul>
{%- for page in collections.people -%}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
{%- endfor -%}
</ul>